@model WMSData.Location

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalBarCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalBarCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.X)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.X)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Y)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Y)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Z)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Z)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForbid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForbid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefault)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
