@model IEnumerable<AccessManagementServices.DOTS.PresetFunctionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpName10)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpName10)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
